
<div class='container shadow-sm p-3 mb-5 bg-white rounded overflow-wrap'>
    <h1>
        <span class='badge badge-pill badge-info'>
         <%= @product.title %>
        </span>
       
    </h1>
    <p class='shadow-none p-3 mb-5 bg-light rounded'><%= @product.description%></p>
    <h3 >$ <%= @product.price%></h3>
    <div>

        <%= link_to(
        "Edit",
        edit_product_path(@product),
        class: 'btn btn-info'
        )
        %>

        <%= link_to(
        "Delete",
        product_path(@product),
        method: :delete,
        class: 'btn btn-danger',
        data: { confirm: 'are you sure?' }
        )
        %>
       
    </div> 
</div>